* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}
/* bg content */
.all{
    background-image: url("../assets/background.png");
    background-repeat: round ;
    background-size: cover;
}
/* navigation */
.navbar {
    padding: 5px;
    position: fixed;
    width: 100%;
}

.nav-menu ul li{
    display: inline-block;
}

.nav-menu ul li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 0px 0px 25px #ff7ee9;
}

.nav-menu ul li a:hover{
    background-color: lightgray;
    color: black;
}

/* dropdown menu */
.nav-menu>ul>li:hover .sub-menu{
    display: block;
}

.sub-menu ul li:hover{
    background-color: lightgray;
    color: black;
}
.sub-menu{
    display: none;
    position: absolute;
    color:white;
    margin-top:20px;
    background-color: rgba(1, 1, 1, 0.7);
}

.sub-menu ul li{
    padding:20px 0;
    display: block;
    text-align: center;
}

.dropdown{
    display: inline-block;
    position: relative;
}


.logo, .nav-menu{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.nav-menu{
    text-align: right;
}

.logo img{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}

/* background banner */
.home{
    background-image: url("../assets/logo.png");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
    border-bottom: #82f0ff;
    box-shadow: 0px 4px 25px #82f0ff;
    
}

/* about us home */
.about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 105px 50px 70px 50px;
        color: white;
        box-shadow: 0px 0px 25px #7eecff;
}

.about-content{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.about-img, .about-text{
    width: 49%;
    text-align: center;
}

.about-text{
    text-align: left;
}

.about-text h1{
    font-size: 48px;
    text-shadow: 0px 0px 20px #ff7ee9;
}

.about-text p{
    font-size: 18px;
    line-height: 35px;
}

.about-img img{
    width: 500px;
    box-shadow: 0px 0px 25px #ff7ee9;
}

.about-img img:hover{
    box-shadow: 0px 0px 25px #82f0ff;
    transform: scale(1.3);
    transition: ease-in 0.2s;
}

.btn-about{
    padding: 10px;
    background-color: transparent;
    font-size: 18px;
    color: white;
    border: 1px white solid;
    box-shadow: 0px 0px 25px #ff7ee9;
    cursor: pointer;
}

.btn-about:hover{
    box-shadow: 0px 0px 25px #82f0ff;
    transform: scale(1.1);
    transition: ease-in 0.2s;
}

/* menu rec */
.menu-rec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px 70px 50px;
    box-shadow: 0px 0px 25px #82f0ff;
}

.menu-rec h1{
    text-shadow: 0px 0px 20px #ff7ee9;
    font-size: 48px;
}

.list-menurec{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menurec{
    width:20%;
    height: 455px;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #ff7ee9;
    background-color: rgb(29 29 29 / 56%);
}
.menurec:hover{
    box-shadow: 0px 0px 25px #82f0ff;
    transform: scale(1.1);
    transition: ease-in 0.2s;
}
.menurec h3{
    text-align: center;
}


.menurecimg{
    width: 100%;
}

.menurecimg img{
    width: 100%;
    height: 100%;
    padding: 20px;
    object-fit: contain;
}

.menurec img:hover{
    transform: scale(1.2);
    transition: ease-in 0.2s;
}

/* location */
.locationMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 70px 50px;
    box-shadow: 0px 0px 25px #82f0ff;
}
.locationMain h1{
    text-shadow: 0px 0px 20px #ff7ee9;
    font-size: 48px;
}
.mapMain{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.moreLoc{
    padding: 10px;
    font-size: 22px;
    background-color: transparent;
    color: white;
    border: 1px white solid;
    box-shadow: 0px 0px 25px #ff7ee9;
    cursor: pointer;
}
.moreLoc:hover{
    transform: scale(1.2);
    transition: ease-in 0.2s;

}
.footer{
    width: 100%;
    background-color: black;
    padding: 15px;
    vertical-align: middle;
    text-align: center;
    color: white;
    border-top: 1px white solid;
}


.map, .map-text{
    width: 50%;
}
.map img{
    width: 100%;
}
.mapImg :hover{
    transform: scale(1.1);
    transition: ease-in 0.2s;
}
.map{
    text-align: center;
    padding: 0px 60px;
}
.map-text{
    text-align: left;
}
.map-text h2{
    font-size: 42px
}
.map-text p{
    font-size: 18px;
}
.map-text span{
    font-size: 18px;
    padding-left: 15px;
}
.about-logo{
    width: 25px;
}

/* other */
.image-border{
    border-radius: 10px;
}
.image-border2{
    border-radius: 25px;
}
.text-center{
text-align: center;
}

.icon{
    display: none;
}

@media only screen and (max-width: 1025px){
    .nav-menu ul li a{
        padding: 10px;
    }
    .sub-menu{
        margin-top: 11px;
    }
    .home{
        background: url(../assets/logo.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-text{
        padding-top: 20px;
    }
    .about-text h1{
        text-align: center;
    }
    .menurec img{
        width: 265px;
    }
    .menurec{
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
    }
    .menurectxt{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
    .menurecTitle h3{
        font-size: 30px;
    }
    .mapMain{
        display: flex;
        flex-direction: column;
    }
    .map-text{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .mapImg img{
        width: 100%;
    }
    .mapImg{
        width: 100%;
        text-align: center;
    }
    .map{
        width: 100%;
        padding: 30px;
    }
}
@media only screen and (max-width: 769px){
    .home{
        background: url(../assets/logo.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    /* resp navbar */
    .inactive{
        display: none;
    }
    .nav-menu ul li{
        display: block;
        padding: 10px;
    }
    .icon{
        display: inline-block;
    }
    .nav-menu ul{
        position: absolute;
        right: 0;
        top: 60px;
        background-color: rgba(1, 1, 1, 0.8);
        padding: 15px;
        text-align: center;
        width: 100%
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-text{
        padding-top: 20px;
    }
    .about-text h1{
        text-align: center;
    }
    .about-img img{
       width: 350px ;
    }
    .menurec{
        width: 53%;
        display: flex;
        flex-direction: column;
    }
    .menurectxt{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
    }
    .menurecTitle h3{
        font-size: 30px;
    }

    .mapMain{
        display: flex;
        flex-direction: column;
    }

}
@media only screen and (max-width:575px){
    .about-img img{
        width: 270px;
    }
    .menurec img{
        width: 200px;
    }
}
@media only screen and (max-width:426px){
    .menu-rec h1{
        font-size: 35px;
    }
    .about-img img{
        width: 200px;
    }
    .menurec img{
        width: 120px;
    }
}